---
- name: Mettre à jour le cache APT
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Installer Apache + PHP
  ansible.builtin.package:
    name:
      - apache2
      - php
      - libapache2-mod-php
    state: present

- name: Activer et démarrer Apache
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

- name: Activer le module rewrite Apache
  ansible.builtin.command:
    cmd: a2enmod rewrite
    creates: /etc/apache2/mods-enabled/rewrite.load
  notify: Reload Apache

- name: Déployer le VirtualHost Joomla
  ansible.builtin.template:
    src: joomla_vhost.conf.j2
    dest: /etc/apache2/sites-available/joomla.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload Apache

- name: Désactiver le site par défaut
  ansible.builtin.command:
    cmd: a2dissite 000-default.conf
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: Reload Apache

- name: Activer le site Joomla
  ansible.builtin.command:
    cmd: a2ensite joomla.conf
    creates: /etc/apache2/sites-enabled/joomla.conf
  notify: Reload Apache

